.MuiTypography-root {
   font-family: "Montserrat", sans-serif !important;
}

.MuiBottomNavigationAction-label {
   font-family: "Montserrat", sans-serif !important;
   font-size: 0.9rem !important;
   font-weight: bold !important;
}

.MuiBottomNavigationAction-root {
   &:focus {
      outline: none !important;
   }
}

.MuiButton-root {
   &:focus {
      outline: none;
      box-shadow: none;
   }
}

.MuiPaper-root {
   box-shadow: none;
   outline: none;
}

div[role="listbox"] {
   outline: none;
}