.mb65-container {
   margin-bottom: 65px;
}

.menu-modal-input {
   display: flex;
   justify-content: center;
   align-items: center;
}

.menu-modal-input input {
   max-width: 100px;
}

.MuiTabPanel-root {
   padding: 15px !important;
}

body {
   padding-right: 0 !important;
}

.MuiBottomNavigation-root {

}

.MuiBottomNavigationAction-root.Mui-selected {
   color: #ffffff !important;
   background: rgba(102, 102, 255, 0.68);
   border-radius: 12px;

   span {
      width: inherit;
   }

   button {
      width: inherit;
   }
}

.MuiButtonBase-root {
   &:focus {
      outline: none;
   }
}

.MuiBottomNavigationAction-root {

   span {
      font-size: 12px !important;
   }
}
